.field-of-study-view {
    padding: 0;
    position: absolute;
    top: 170%;
    left: 50%;
    margin: 0 -50% -50% 0;
    transform: translate(-50%, -50%);
}

div#changeLimits {
    position: absolute;
    left: 50%;
    margin-top: 30rem;
}