<div class="admin-login" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <h1>Admin Login</h1>
    <form>
        <span>Upload csv file with students' data:</span>
        <p><input v-model="adminData.login" placeholder="login" required></p>

        <p><span>Upload subjects list for EiT:</span></p>
        <p><input v-model="adminData.password" placeholder="password" required></p>

        <p><span>Click to set number of places for subjects:</span></p>
        <p><input v-model="adminData.password" placeholder="password" required></p>


    </form>
</div>


