<div class="main-view" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <h1>Uruchom zapisy na dany kierunek:</h1>


        <i v-for="item in fieldsOfStudy">
           <button style="width: 110px; height: 50px;margin:5px; background: azure; color: darkblue" v-on:click="studentList(item.toString())">{{item.toString()}}</button>
        </i>
        <p>
            <button style="width: 110px; height: 50px;margin:5px; background: azure; color: darkblue" v-on:click="fileUpload()">Upload Files</button>
        </p>

    <div v-if="this.buttonTextValue==='Upload Files'">
        <FileUpload/>
    </div>

<div v-if="this.buttonTextValue!=='' && this.buttonTextValue!=='Upload Files'">
            <FieldOfStudyView v-bind:fieldOfStudy = this.buttonTextValue v-bind:students = this.students />
</div>
</div>
